<table width="1000px" align="center" class="thetab">
      <tr class="thetabcol">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Place</th>
        <th>Gender</th>
        <th>Bgroup</th>
      </tr>
      <% for(var i=0; i < users.length; i++) { %>
      <tr>
        <td><%= users[i].fname %></td>
       <td><%= users[i].lname %></td>
       <td><%= users[i].age %></td>
       <td><%= users[i].place %></td>
       <td><%= users[i].gender %></td>
       <td class="grp"><%= users[i].bgroup %></td>
      </tr>
      <% } %>
    </table>
